<%= form_for(@image,:html => {:multipart => true}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group mb-2">
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name for image" %>
    <span class="input-group-addon" id="basic-addon1">Image name</span>
  </div>
  <div class="input-group mb-2 w-100">
    <%= f.file_field :photo, class: "form-control", placeholder: "Image name" %>
    <span class="input-group-btn">
    <%= f.submit "Upload", class: "btn btn-primary" %>
    </span>
  </div>
<% end %>
