<p id="notice"><%= notice %></p>
<h1>Listing Images</h1>
<div class="tz-gallery">
  <div class="row">
    <% @images.each do |image| %>
      <% if image.photo.attached? %>
        <div class="col-sm-6 col-md-4">
          <%= link_to image, class: 'lightbox' do %>
            <div class="image" style="background-image: url('<%= image.photo.url %>');"></div>
          <% end %>
        </div>
      <% end %>
      <%# <%= link_to 'Show', image %>
      <%# link_to 'Edit', edit_image_path(image) %>
      <%# link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
<br>
<%= link_to 'New Image', new_image_path %>
