<p id="notice"><%= notice %></p>
<% if @image.photo %>
  <%= @image.name %>
  <div class="image-full" style="background-image: url('<%= @image.photo.url %>');"></div>
<% end %>
<%= link_to 'Edit', edit_image_path(@image) %>
<%= link_to 'Back', images_path %>