<p id="notice"><%= notice %></p>
<td><%= @image.name %></td>
<td><%=  image_tag @image.photo.variant(resize_to_fill: [300, 300]), quality: 100, class: 'image' %></td>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>